header.header
    .container
        +logo(bhagaskara, "logo.png", "header__logo")
        .heading
            h1.heading__text
                | Fusce rutrum pretium lorem semper nulla.
            span.subheading__text
                | Vestibulum ornare cursus nisl, fermentum tincidunt libero pretium et. Maecenas interdum ligula non fermentum fringilla. 

        -
            var items = [
                {link1: "About", src1: "about",
                link2: "Team", src2: "team"},
                {link1: "Services", src1: "services",
                link2: "Portfolio", src2: "portfolio"},
                {link1: "Blog", src1: "blog",
                link2: "Contact", src2: "contact"}
            ];

        nav.header__nav
            ul.header__nav-list
                each item in items
                    li.header__nav-item
                        a.header__nav-link(href="#" data-text="" + item.link1)
                            +header-svg(item.src1)
                        a.header__nav-link(href="#" data-text="" + item.link2)
                            +header-svg(item.src2)
        a.header__link-down(href="#")
            +header-svg(false)
