$responsive: true;

/* --------- variables --------- */
$EL: 'existence-light', sans-serif;
$LL: 'Lato', sans-serif;
$LR: 'lato-regular', sans-serif;
$LB: 'lato-bold', sans-serif;
$OR: 'opensans-regular', sans-serif;
$OB: 'opensans-bold', sans-serif;

$gray: #676767;
$violet: #9f449b;

/* --------- common classes --------- */

.tittle {
    display: inline-block;
    margin-bottom: 20px;
    font: 48px/50px $EL;
    color: $gray;
    position: relative;

    &:before, &:after {
        display: block;
        content: "";
        width: 28px;
        height: 28px;
        position: absolute;
    }

    &:before {
        bottom: -15px;
        left: -20px;
        border-bottom: 1px solid $violet;
        border-left: 1px solid $violet;
    }

    &:after {
        top: -10px;
        right: -20px;
        border-top: 1px solid $violet;
        border-right: 1px solid $violet;
    }

    &_color {
        color: $violet
    }
}

.btn {
    display: inline-block;
    padding: 1.42em 2.8em;
    color: #fff;
    text-decoration: none;
    box-shadow: inset 0 -0.2em 0 darken($violet, 20%);
    border-radius: 0.2em;
    background-color: $violet;
    transition: .2s;

    &:hover {
        box-shadow: inset 0 -4.3em 0 darken($violet, 20%);
    }
}

/* --------- adjustment --------- */

@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/adjustment";
@import "_misc/_sprite";

/* --------- common --------- */

@import "_common/_header";
@import "_common/_footer";
@import "_common/_navigation";
@import "_common/_menu";
@import "_common/_social";
@import "_common/_logo";
@import "_common/_slider";
@import "_common/_checkbox";

/* --------- sections --------- */

// @import "_sections/**/*";
@import "_sections/_feature";
@import "_sections/_about";
@import "_sections/_teach";
@import "_sections/_team";
@import "_sections/_skills";

