.header {
    height: 100vh;
    padding-top: 55px;
    padding-bottom: 83px;
    text-align: center;
    background: #495c6f url(../img/header_bg.jpg) no-repeat top left;
    background-size: cover;
    position: relative;
}

.heading {
    width: 65%;
    margin: 0 auto;
    margin-top: 30px;
    color: #fff;

    @include phones {
        display: none;
    }
}

.heading__text {
    display: inline-block;
    margin: 0;
    font: 30px/32px 'Lato', sans-serif;
    font-weight: 300;
}

.subheading__text {
    display: inline-block;
    margin-top: 10px;
    font: 16px/16px 'Lato', sans-serif;
}

.header__nav {
    margin-top: 30px;

    &-list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &-item {
        @include phones {
            margin-bottom: 10px;
        }

        &:first-child {
            order: 1;
        }

        &:nth-child(2) {
            width: 100%;
        }

        &:last-child {
            order: 1;
        }
    }

    &-link {
        display: inline-block;
        width: 136px;
        height: 149px;
        margin-right: 20px;
        border-radius: 60px;
        text-decoration: none;
        overflow: hidden;

        &:last-child {
            margin-right: 0;
        }

        &:after {
            display: block;
            content: attr(data-text);
            margin-top: -55px;
            font: 18px/20px $LL;
            color: #fff;
        }

        &:hover {
            .header__svg-bg {
                fill: #9f449b;
                fill-opacity: 1;
            }
        }
    }
}

.header__svg {
    width: 100%;
    height: 100%;

    &-bg {
        fill: #fff;
        fill-opacity: .1;
        transition: .3s;
    }

    &-border {
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 50;
        stroke-width: 4;
        stroke-dasharray: 0px;
        transition: 2s;
    }

    &-elem {
        fill: #fff;
    }

    &.action {
        .header__svg-border {
            stroke-dasharray: 1000px;
        }
    }
}

.header__link-down {
    display: inline-block;
    width: 60px;
    height: 70px;
    position: relative;

    &:after {
        content: "";
        width: 15px;
        height:15px;
        margin: auto;
        background: url(../img/arrow.png) no-repeat center center;
        background-size: contain;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        animation: flash 1s ease-in infinite;
    }

    &:hover .header__svg-bg {
        fill: red;
    }
}


@keyframes flash {
    0% {
        top: -15px;
        opacity: 0
    }

    50% {
        opacity: 1
    }

    75% {
        opacity: 1
    }

    100% {
        top: 12px;
        opacity: 0;
    }
}