.about {

	&__inner {
		margin-top: 80px;
		display: flex;
		justify-content: flex-end;
		background: url('../img/about_bg.jpg') no-repeat top left;
		background-size: contain;
	}

	&__content {
		width: 40%;
		text-align: left;

		&-text {
			display: block;
			line-height: 36px;
		}
	}

	&__btn_margin {
		margin-top: 120px;
	}
}